<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-Powered-By-Plesk" />
      </customHeaders>
    </httpProtocol>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <httpCompression sendCacheHeaders="false" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" />
    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <add value="index.html.gz" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
        <rule name="gzip" enabled="true" stopProcessing="false">
          <match url="(.*).(html|css|js)" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/(api|app)" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.{R:2}.gz" logRewrittenUrl="true" />
        </rule>
        <rule name="angularjs frontOffice" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(admin|api|app)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        <rule name="angularjs backOffice" stopProcessing="true">
          <match url="^admin/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="admin/" />
        </rule>
        <rule name="https to http" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^ON$" />
          </conditions>
          <action type="Redirect" url="http://daybook.adeli.me/{R:1}" redirectType="Temporary" />
        </rule>
      </rules>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Rewrite content-encoding header gzip" preCondition="IsGZ" enabled="true" stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />
          <action type="Rewrite" value="gzip" />
        </rule>
        <rule name="html content type" preCondition="IsHTML" enabled="true" stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_TYPE" pattern="(.*)" />
          <action type="Rewrite" value="text/html" />
        </rule>
        <rule name="css content type" preCondition="IsCSS" enabled="true" stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_TYPE" pattern="(.*)" />
          <action type="Rewrite" value="text/css" />
        </rule>
        <rule name="js content type" preCondition="IsJS" enabled="true" stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_TYPE" pattern="(.*)" />
          <action type="Rewrite" value="application/javascript" />
        </rule>
        <preConditions>
          <preCondition name="IsGZ">
            <add input="{URL}" pattern="\.gz$" />
          </preCondition>
          <preCondition name="IsHTML">
            <add input="{URL}" pattern="html" />
          </preCondition>
          <preCondition name="IsCSS">
            <add input="{URL}" pattern="css" />
          </preCondition>
          <preCondition name="IsJS">
            <add input="{URL}" pattern="js" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
  <location path="index.html.gz">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
