@import '_variables';

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: inherit;
    }
}

.timeline-item {
    padding-left: 40px;
    position: relative;

    &:last-child {
        padding-bottom: 0;
    }
}

.timeline-info {
    font-size: 12px;
    color: #768390;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;

    &:before {
        background: $color-primary-0;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out,
            border 0.3s ease-in-out;
    }

    &:after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 24px;
        bottom: 0;
        left: 6px;
    }

    .timeline-item:last-child &:after {
        content: none;
    }
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid $color-primary-0;
}

.timeline-content {
    padding-bottom: 40px;

    p:last-child {
        margin-bottom: 0;
    }

    .timeline-content-item {
        background-color: rgb(249, 222, 115);
        border: solid 2px rgb(104, 19, 135);
        padding: 12px;
        border-radius: 12px;
        margin-bottom: 12px;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;


        &:hover {
            background-color: rgb(251, 193, 87);
        }

        h3 {
            color: rgb(223, 43, 121);
            font-weight: 700;
            font-size: 16px;
        }

        span {
            font-size: 13px;
            display: block;
            opacity: 0.8;
        }

        img {
            width: 36px;
            position: absolute;
            top: 8px;
            right: 8px;
            opacity: 0.6;
        }
    }
}

.timeline-split {
    @media (min-width: 768px) {
        .timeline {
            display: table;
        }

        .timeline-item {
            display: table-row;
            padding: 0;
        }

        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }

        .timeline-marker {
            position: relative;
        }

        .timeline-content {
            padding-left: 30px;
        }

        .timeline-info {
            padding-right: 30px;
        }

        .period .timeline-title {
            position: relative;
            left: -45px;
        }
    }
}

.timeline-centered {
    @extend .timeline-split;

    @media (min-width: 992px) {

        &,
        .timeline-item,
        .timeline-info,
        .timeline-marker,
        .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }

        .timeline-item {
            padding-bottom: 40px;
            overflow: hidden;
        }

        .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }

        .timeline-info,
        .timeline-content {
            width: 50%;
        }

        >.timeline-item:nth-child(odd) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }

        >.timeline-item:nth-child(odd) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }

        >.timeline-item:nth-child(even) .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
        }

        >.timeline-item:nth-child(even) .timeline-content {
            float: left;
            text-align: right;
            padding-right: 30px;

            img {
                left: 8px;
            }
        }

        >.timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }

        .timeline-item.period {
            padding: 50px 0 90px;
        }

        .period .timeline-marker:after {
            height: 30px;
            bottom: 0;
            top: auto;
        }

        .period .timeline-title {
            left: auto;
        }
    }
}